.info-panel {
    padding: 20px;
    width: 300px;
    background-color: lightgray;
    position: fixed;
    bottom: 50%;
    left: 40%;
    z-index: 10;
}

.icon {
    position: absolute;
    height: 20px;
    color: red;
    background-color: grey;
    top: 5%;
    right: 20px;
    cursor: grab;
}

header {
    background-color: rgb(217, 239, 255);
}

nav {
    padding: 1px;
}

nav>ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 0px;
}

nav ul a {
    text-decoration: none;
    display: block;
    background: rgb(55, 55, 55);
    color: white;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
}

nav ul a:hover {
    color: red;
}

.legordulo {
    position: relative;
    width: 85%;
    text-align: center;
}

.legordulo-elem {
    display: none;
    position: absolute;
}

.legordulo:hover .legordulo-elem {
    display: block;
}

.galeria {
    margin: 5px;
    border: 5px solid #ccc;
    float: left;
    width: 180px;
}

.galeria:hover {
    border: 10px solid #777;
}

.galeria img {
    width: 100%;
    height: auto;
}

.megjelenokep {
    display: none;
    width: 100%;
}

.kiskepek:hover .megjelenokep {
    display: block;
}

.kep {
    position: relative;
}

.megjelenokep {
    position: absolute;
    width: 10%;
    left: 0px;
    top: 10%;
}