article div {
    background-color: lightgray;
}
fieldset {
    width: 300px;
    background-color: lightgray;
    position: fixed;
    bottom: 50%;
    margin-left: 40%;
    z-index: 10;
    width: 20%;
}
nav ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}
nav ul a{
    text-decoration: none;
    display: block;
    background: lightsalmon;
    padding: 10px;
}

nav>ul{ 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.legordulo {
    position: relative;
}

.legordulo-elem {
    display: none;
    position: absolute;
}

.legordulo:hover .legordulo-elem {
    display: block;
}